{% set data = 
    {
        title: 'Index page',
        menu: ['home','about','contacts']
    }   
%}  
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta       name="viewport" content="width=device-width, initial-scale=1.0">
            <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ data.title }}</title>
    <link rel="stylesheet" href="{{ css['app.css'] }}" />
</head>
<body>
{% include './chunks/header.twig' with { menu:data.menu } %}
                 <div class="container"></div>
{% include './chunks/footer.twig'  %}
<script         src="{{ js['app.js']}}"></script>
</body>
</html>