{% set data = 
    {
        title: 'UniqtripSoft',
        menu: { 
            'проекты ':null,
            'блог':null,
            'о компании':null,
            'контакты':null,
            'support':null,
            
        },
        services: [
                'Битрикс 24',
                'Разработка',
                'Бизнес-аналитика',
                'Туристический сегмент',
                'Сопровождение 1С'
            ]
        

    }   
%}  
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta       name="viewport" content="width=device-width, initial-scale=1.0">
            <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ data.title }}</title>
    <link rel="stylesheet" href="{{ css['app.css'] }}" />
    <link rel="stylesheet" href="{{ css['inline.css'] }}" />
</head>
<body>
<div class="container">
{% include './chunks/header.twig' with { menu:data.menu, services: data.services } %}
</div>
<div class="container">
{% include './chunks/hero.twig'  %}
{% include './chunks/slider.twig'  %}
{% include './chunks/hero-dark.twig'  %}
<section class="section">
<div class="col__container">
{% include './chunks/left-col.twig'  %}
{% include './chunks/right-col.twig'  %}
</div>
    </section>
</div>
{% include './chunks/footer.twig'  %}
<script         src="{{ js['app.js']}}"></script>
</body>
</html>