<div class="footer__block">
    <footer class="footer container">
        
            <div class="footer__col">
                <div class="footer__logo">
                    UniqtripSoft
                </div>
                <div class="footer__contact">
                    <a href="tel:+78622777042"> <i class="icon-phone"></i>+7 (862) 277 70 42</a>
                </div>
                <div class="footer__contact">
                    <a  href="mailto:info@uniqtrip.ru"> <i class="icon-envelop"></i>info@unqitrip.ru</a>
                </div>
            </div>
            <div class="footer__col">
                <ul>
                    <li class="footer__link"><a href="/">Продукты</a></li>
                    <li class="footer__link"><a href="/">Битрикс 24</a></li>
                    <li class="footer__link"><a href="/">Разработка сайтов</a></li>
                    <li class="footer__link"><a href="/">Программирование на 1С</a></li>
                    <li class="footer__link"><a href="/">Битрикс 24</a></li>
                    <li class="footer__link"><a href="/">Разработка сайтов</a></li>
                    <li class="footer__link"><a href="/">Программирование на 1С</a></li>
                </ul>
            </div>
            <div class="footer__col">
                <ul>
                    <li class="footer__link"><a href="/">Компания</a></li>
                    <li class="footer__link"><a href="/">Команда</a></li>
                    <li class="footer__link"><a href="/">Компетенции</a></li>
                    <li class="footer__link"><a href="/">Сертификаты</a></li>
                    <li class="footer__link"><a href="/">Партнеры</a></li>
                </ul>
            </div>
            <div class="footer__col">
                <ul>
                    <li class="footer__link">Поддержка</li>
                    <li class="footer__link"><a href="/">Заказать звонок</a></li>
                </ul>

            </div>
    
    </footer>
</div>