<section class="hero" style="background-image:url('./media/img/bg_hero.jpg')">
<div class="hero__container">
    <h3 class="hero__title">Готовый сайт на Битрикс</h3>
    <p class="hero__text">Помимо внедрения Битрикс24 наша команда может разработать для Вас сайт или интернет-магазин на 1С Битрикс.</p>
    <a href="/" class="hero__button">Подробнее</a>
</section>