<section class="hero" style="background-image:url('./media/img/bg_hero2.jpg')">
<div class="hero__container">
    <h3 class="hero__title hero__title--inverse">Управление остатками</h3>
    <p class="hero__text hero__text--inverse">Приложение, которое позволяет вести учет товаров, создавать новые типы документов, справочников
и регистров учета. </p>
    <a href="/" class="hero__button hero__button--inverse">Установить приложение</a>
</section>