<div class="news section j-news">
    <div class="news__container">
        <div class="news__item-container">
                <div class="news__item j-item active" style="background-image:url('/media/img/bg1.jpg')">
                    <h4 class="news__title">Разработка сайтов</h4>
                    <p class="news__text">Помимо внедрения Битрикс24 наша команда может разработать для Вас сайт или интернет-магазинна 1С Битрикс.</p>
                    <a class="news__link" href="/">Подробнее</a>
                </div>
                <div class="news__item j-item" style="background-image:url('/media/img/bg1.jpg')">
                    <h4 class="news__title">Разработка сайтов #2</h4>
                    <p class="news__text">Помимо внедрения Битрикс24 наша команда может разработать для Вас сайт или интернет-магазинна 1С Битрикс.</p>
                    <a class="news__link" href="/">Подробнее</a>
                </div>
                <div class="news__item j-item" style="background-image:url('/media/img/bg1.jpg')">
                    <h4 class="news__title">Разработка сайтов#3</h4>
                    <p class="news__text">Помимо внедрения Битрикс24 наша команда может разработать для Вас сайт или интернет-магазинна 1С Битрикс.</p>
                    <a class="news__link" href="/">Подробнее</a>
                </div>
                <div class="news__item j-item" style="background-image:url('/media/img/bg1.jpg')">
                    <h4 class="news__title">Разработка сайтов#4</h4>
                    <p class="news__text">Помимо внедрения Битрикс24 наша команда может разработать для Вас сайт или интернет-магазинна 1С Битрикс.</p>
                    <a class="news__link" href="/">Подробнее</a>
                </div>
         </div>
        <div class="news__list">
            <p class="news__list-title">Список услуг</p>
            <div class="news__list-items">
                <div class="news__list-item j-list-item">
                    <img src="/media/img/bg2.jpg" alt="Битрикс 24"/>
                    <h6>Битрикс 24</h6>
                    <p>Полный спектр услуг по продаже, запуску, сопровождению и обучению работе с Битрикс24.</p>
                </div>
                <div class="news__list-item j-list-item">
                    <img src="/media/img/bg3.jpg" alt="Битрикс 24"/>
                    <h6>Битрикс 24</h6>
                    <p>Полный спектр услуг по продаже, запуску, сопровождению и обучению работе с Битрикс24.</p>
                </div>
                <div class="news__list-item j-list-item">
                    <img src="/media/img/bg4.jpg" alt="Битрикс 24"/>
                    <h6>Битрикс 24</h6>
                    <p>Полный спектр услуг по продаже, запуску, сопровождению и обучению работе с Битрикс24.</p>
                </div>
                <div class="news__list-item j-list-item">
                    <img src="/media/img/bg2.jpg" alt="Битрикс 24"/>
                    <h6>Битрикс 24</h6>
                    <p>Полный спектр услуг по продаже, запуску, сопровождению и обучению работе с Битрикс24.</p>
                </div>
            </div>
        </div>
    </div> 
    <div class="news__indicator j-indicator">
        <span class="j-dot active"></span>
        <span class="j-dot"></span>
        <span class="j-dot"></span>
        <span class="j-dot"></span>
    </div>
</div>